n8n/sharepoint-ensure-user-lookup.json
{
  "name": "SharePoint — ensureUser LookupId (Controladoria)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-4640, -1280],
      "id": "manual-bootstrap",
      "name": "Bootstrap manual (1x)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sharepoint-ensure-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-4400, -880],
      "id": "webhook-runtime",
      "name": "Webhook runtime",
      "webhookId": "sharepoint-ensure-user"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tenant",
              "name": "MICROSOFT_TENANT_ID",
              "value": "5411b7aa-53ee-4f05-bb25-dfca7a522fc2",
              "type": "string"
            },
            {
              "id": "client",
              "name": "MICROSOFT_CLIENT_ID",
              "value": "1ec624e8-cf5f-4bb0-964f-e3abe9a91083",
              "type": "string"
            },
            {
              "id": "secret",
              "name": "MICROSOFT_CLIENT_SECRET",
              "value": "COLE_AQUI_O_CLIENT_SECRET",
              "type": "string"
            },
            {
              "id": "bp-site",
              "name": "SHAREPOINT_BP_SITE_ID",
              "value": "bpplaw2.sharepoint.com,6b17bdcc-ac8f-4ceb-b85c-0003edaac18e,22808632-e691-4d75-a258-ad29be94ee25",
              "type": "string"
            },
            {
              "id": "usuarios-list",
              "name": "SHAREPOINT_USUARIOS_LIST_ID",
              "value": "f7d4fe37-a3fe-4487-b70e-6949311bfa23",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-4400, -1280],
      "id": "config-azure-app",
      "name": "Config Azure App (edite aqui)"
    },
    {
      "parameters": {
        "jsCode": "// App-only (client credentials) — NÃO precisa refreshToken\n// Lista e-mails do Graph /users + lista USUARIOS SharePoint\nconst cfg = $('Config Azure App (edite aqui)').first().json;\nconst tenant = cfg.MICROSOFT_TENANT_ID;\nconst clientId = cfg.MICROSOFT_CLIENT_ID;\nconst clientSecret = cfg.MICROSOFT_CLIENT_SECRET;\n\nif (!tenant || !clientId || !clientSecret || clientSecret.includes('COLE_AQUI')) {\n  throw new Error('Preencha MICROSOFT_CLIENT_SECRET no node \"Config Azure App\"');\n}\n\nconst tokenRes = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://login.microsoftonline.com/${tenant}/oauth2/v2.0/token`,\n  headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n  body: [\n    'client_id=' + encodeURIComponent(clientId),\n    'client_secret=' + encodeURIComponent(clientSecret),\n    'scope=' + encodeURIComponent('https://graph.microsoft.com/.default'),\n    'grant_type=client_credentials',\n  ].join('&'),\n});\n\nconst token = tokenRes.access_token;\nif (!token) throw new Error('Falha ao obter token app-only: ' + JSON.stringify(tokenRes));\n\nconst headers = { Authorization: `Bearer ${token}` };\nconst seen = new Map();\n\nconst add = (email, displayName = '') => {\n  const e = String(email ?? '').trim().toLowerCase();\n  if (!/@(?:bpplaw\\.com\\.br|bismarchipires\\.com\\.br)$/i.test(e)) return;\n  if (!seen.has(e)) seen.set(e, displayName || e);\n};\n\n// 1) Graph /users\nlet next = 'https://graph.microsoft.com/v1.0/users?$select=id,displayName,mail,userPrincipalName&$top=999';\nwhile (next) {\n  const page = await this.helpers.httpRequest({ method: 'GET', url: next, headers });\n  for (const u of page.value ?? []) {\n    add(u.mail, u.displayName);\n    add(u.userPrincipalName, u.displayName);\n  }\n  next = page['@odata.nextLink'] ?? null;\n}\n\n// 2) Lista USUARIOS (site BISMARCHIPIRES) — catálogo de e-mails\nconst bpSite = cfg.SHAREPOINT_BP_SITE_ID;\nconst usuariosList = cfg.SHAREPOINT_USUARIOS_LIST_ID;\nif (bpSite && usuariosList) {\n  let uNext = `https://graph.microsoft.com/v1.0/sites/${bpSite}/lists/${usuariosList}/items?expand=fields(select=Title,field_1)&$top=200`;\n  while (uNext) {\n    const page = await this.helpers.httpRequest({ method: 'GET', url: uNext, headers });\n    for (const item of page.value ?? []) {\n      const f = item.fields ?? {};\n      add(f.field_1, f.Title);\n    }\n    uNext = page['@odata.nextLink'] ?? null;\n  }\n}\n\nif (seen.size === 0) throw new Error('Nenhum e-mail @bpplaw/@bismarchipires encontrado');\n\nreturn [...seen.entries()].map(([email, displayName]) => ({\n  json: {\n    email,\n    displayName,\n    logonName: `i:0#.f|membership|${email}`,\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4160, -1280],
      "id": "list-emails-app-only",
      "name": "Listar e-mails (app-only)"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst email = String(body.email ?? '').trim().toLowerCase();\nif (!email) throw new Error('Body JSON: { \"email\": \"...\" }');\nif (!/@(?:bpplaw\\.com\\.br|bismarchipires\\.com\\.br)$/i.test(email)) {\n  throw new Error('Domínio não permitido: ' + email);\n}\nreturn [{ json: { email, displayName: body.displayName ?? '', logonName: `i:0#.f|membership|${email}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-4160, -880],
      "id": "webhook-parse-email",
      "name": "Parse email webhook"
    },
    {
      "parameters": {
        "amount": 300,
        "unit": "ms"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-3920, -1280],
      "id": "wait-bootstrap",
      "name": "Wait bootstrap"
    },
    {
      "parameters": {
        "amount": 100,
        "unit": "ms"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-3920, -880],
      "id": "wait-webhook",
      "name": "Wait webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bpplaw2.sharepoint.com/sites/CONTROLADORIAJURDICA/_api/web/ensureUser",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ logonName: $json.logonName }) }}",
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json;odata=nometadata" },
            { "name": "Content-Type", "value": "application/json;odata=nometadata" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3680, -1280],
      "id": "ensure-bootstrap",
      "name": "ensureUser bootstrap",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Y5t4OEH4q9QJUTqj",
          "name": "Microsoft Teams account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bpplaw2.sharepoint.com/sites/CONTROLADORIAJURDICA/_api/web/ensureUser",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ logonName: $json.logonName }) }}",
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json;odata=nometadata" },
            { "name": "Content-Type", "value": "application/json;odata=nometadata" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3680, -880],
      "id": "ensure-webhook",
      "name": "ensureUser webhook",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Y5t4OEH4q9QJUTqj",
          "name": "Microsoft Teams account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sp = $input.item.json;\nconst prev = $('Wait bootstrap').item.json;\nconst lookupId = sp?.Id ?? sp?.id;\nreturn {\n  json: {\n    ok: Boolean(lookupId),\n    email: prev.email,\n    displayName: sp?.Title ?? prev.displayName ?? '',\n    lookupId: lookupId ? String(lookupId) : null,\n    error: lookupId ? null : (sp?.error?.message ?? sp?.message ?? JSON.stringify(sp).slice(0, 200)),\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3440, -1280],
      "id": "parse-bootstrap",
      "name": "Parse bootstrap"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sp = $input.item.json;\nconst prev = $('Wait webhook').item.json;\nconst lookupId = sp?.Id ?? sp?.id;\nreturn {\n  json: {\n    ok: Boolean(lookupId),\n    email: prev.email,\n    displayName: sp?.Title ?? prev.displayName ?? '',\n    lookupId: lookupId ? String(lookupId) : null,\n    error: lookupId ? null : (sp?.error?.message ?? sp?.message ?? JSON.stringify(sp).slice(0, 200)),\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3440, -880],
      "id": "parse-webhook",
      "name": "Parse webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst map = {};\nconst add = (key, id) => {\n  const k = String(key ?? '').trim().toLowerCase();\n  if (k) map[k] = String(id);\n};\n\nlet ok = 0;\nlet fail = 0;\nfor (const item of items) {\n  const row = item.json;\n  if (!row.ok || !row.lookupId) { fail++; continue; }\n  ok++;\n  add(row.email, row.lookupId);\n  add(row.displayName, row.lookupId);\n  if (row.email?.endsWith('@bismarchipires.com.br')) {\n    add(row.email.replace('@bismarchipires.com.br', '@bpplaw.com.br'), row.lookupId);\n  }\n  if (row.email?.endsWith('@bpplaw.com.br')) {\n    add(row.email.replace('@bpplaw.com.br', '@bismarchipires.com.br'), row.lookupId);\n  }\n}\n\nreturn [{\n  json: {\n    key: 'sharepoint_person_lookups',\n    value: JSON.stringify(map),\n    updated_at: new Date().toISOString(),\n    ok,\n    fail,\n    totalKeys: Object.keys(map).length,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3200, -1280],
      "id": "build-map",
      "name": "Montar mapa (todos)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jhgbrbarfpvgdaaznldj.supabase.co/rest/v1/app_c009c0e4f1_integration_settings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "COLOQUE_SERVICE_ROLE_KEY_AQUI"
            },
            {
              "name": "Authorization",
              "value": "Bearer COLOQUE_SERVICE_ROLE_KEY_AQUI"
            },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ key: $json.key, value: $json.value, updated_at: $json.updated_at }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2960, -1280],
      "id": "supabase-save",
      "name": "Supabase — salvar mapa"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: $json.ok, email: $json.email, lookupId: $json.lookupId, displayName: $json.displayName, error: $json.error }) }}",
        "options": {
          "responseCode": "={{ $json.ok ? 200 : 422 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-3200, -880],
      "id": "webhook-response",
      "name": "Responder webhook"
    },
    {
      "parameters": {
        "content": "## Autenticação\n\n**Listar e-mails** → app-only (client_id + secret no node Config). Sem refreshToken.\n\n**ensureUser** → OAuth delegado (**Microsoft Teams account**). Clique *Connect* na credencial se der erro de token.\n\nensureUser precisa de usuário logado com acesso ao site CONTROLADORIAJURDICA.",
        "height": 220,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-4680, -1520],
      "id": "note-auth",
      "name": "Nota auth"
    }
  ],
  "connections": {
    "Bootstrap manual (1x)": {
      "main": [[{ "node": "Config Azure App (edite aqui)", "type": "main", "index": 0 }]]
    },
    "Config Azure App (edite aqui)": {
      "main": [[{ "node": "Listar e-mails (app-only)", "type": "main", "index": 0 }]]
    },
    "Listar e-mails (app-only)": {
      "main": [[{ "node": "Wait bootstrap", "type": "main", "index": 0 }]]
    },
    "Wait bootstrap": {
      "main": [[{ "node": "ensureUser bootstrap", "type": "main", "index": 0 }]]
    },
    "ensureUser bootstrap": {
      "main": [[{ "node": "Parse bootstrap", "type": "main", "index": 0 }]]
    },
    "Parse bootstrap": {
      "main": [[{ "node": "Montar mapa (todos)", "type": "main", "index": 0 }]]
    },
    "Montar mapa (todos)": {
      "main": [[{ "node": "Supabase — salvar mapa", "type": "main", "index": 0 }]]
    },
    "Webhook runtime": {
      "main": [[{ "node": "Parse email webhook", "type": "main", "index": 0 }]]
    },
    "Parse email webhook": {
      "main": [[{ "node": "Wait webhook", "type": "main", "index": 0 }]]
    },
    "Wait webhook": {
      "main": [[{ "node": "ensureUser webhook", "type": "main", "index": 0 }]]
    },
    "ensureUser webhook": {
      "main": [[{ "node": "Parse webhook", "type": "main", "index": 0 }]]
    },
    "Parse webhook": {
      "main": [[{ "node": "Responder webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
